  /* selector universal*/

  * {font-family: arial;}
  
body {background-color: yellow;}

h1,h3{text-align: center;
   color: black;}

.p1 {font-family: arial; 
     font-size: 18px; color: black;text-align: center;
             font-size: 15px;}


 .img{text-align: center;}

 .productos1{background-color: white;   
      font-size: 20px;}


      header{background-color: white; }

             p{font-size: 20px}

             .n1{text-align: center;color: black;}




 

      







	


     

